body {
  height: 900px;
}

[nz-form] {
  max-width: 600px;
}

.child {
  padding: 50px;
  position: absolute;
  width: 380px;
  background-color: #ffffff;
  top: 25%;
  left: 38%;
  transform: translate(-5%, -5%);
  box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
  border-radius: 22px;
  margin-bottom: 22px;
}

nz-form-control {
  min-height: 30px;
}

.parent {
  width: 100%;
  height: 90vh;
  position: relative;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100;
}

button {
  background-color: #001529;
  border: none;
  margin-top: 20px;
  margin-left: 33%;
}

.imgDiv {
  width: 100%;
  vertical-align: middle;
  margin-bottom: 40px;
}
