.navbar{
  background-color: #006cd8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .nav-tittle {
    >a {
      color: #f5f5f5 !important;
      margin-left: 10px;
      font-size: 18px;
      font-weight: bolder;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;

    a {
      color: #f5f5f5;
      margin-left: 15px;
    }
  }
}
